
/**
 * 左边展示的 markdown 内容有点扎眼了. 还是重新渲染一下好了.
 */

#work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 800px;
}

/**
 * 好. 准备了.
 *
 * 3...
 * 2...
 * 1...
 *
 * .
 * ....哈哈哈哈，你竟然信了
 *
 * ...
 *
 * ...
 *
 * ...
 *
 * ...
 *
 * 好，这次动真格的了!
 *
 */
