
/**
 * 到这里，基本就完事儿了.有时间我会再写一写关于源码的解析,
 *
 * 你也可以直接点击右下角的‘查看源码’链接直接查看啦，打字如飞的奥秘就在里面啦
 */

 pre:hover{
   box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
 }

 #skip-animation, #pause-resume {
   display: none;
 }

/**
 * 
 * 希望你跟我一样，喜欢这种有趣的网页展示方式，下面是原作者的话，谢谢他 
 *
 * Hey. My name's Samuel Reed. I'm CTO of BitMEX.com and an occasional
 * freelance contractor.
 *
 * I hope you enjoyed this.
 *
 * Thanks to Jake Albaugh, who was the first (that I know of) to do
 * a page like this. Some of the autotyping and syntax highlighting
 * code is based off his work.
 *
 * See more of Jake's work at http://codepen.io/jakealbaugh/
 *
 * If you want to contact to Samuel, use the PGP keys on the left
 */
 

/**
 * 顺便说一下, 这里的东西你都可以编辑啦. 可以尝试添加新的 CSS!
 *
 * 比如说,
 *
 * 'text-shadow' 的属性中包含这些参数:
 * 'x', 'y', 'blur', 'color'.
 *
 * 如果我想实现一个 values 镜像效果的话,
 * 那我会在所有 values 的下方添加一个15px的阴影,
 * 并且带有点儿模糊效果:
 * 看到了没？
 */

.value {
  text-shadow: 0px 15px 1px white;
}

/**
 * 尽情去尝试吧! 可以实现的效果和功能还有很多啦.
 * 比如那些 字号、 阴影、 动画啦, 就算
 * 你把这个网页拆了. 也没关系哦～.
 */


